<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <img src="data:<%= mimeType %>;base64, <%= user.image.toString('base64') %>" alt="Uploaded Image">
    
</body>
</html>